<div class="col-sm-12 remove-default-padding">
    <div class="col-sm-4 bordered-div">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <span class="control-label col-sm-6 bold">{{'total_amount_pay' | translate}}</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control-trimmed" ng-disabled="true" value="{{'currency' | translate}} {{totalPaymentAmount}}">
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4 bordered-div">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <span class="control-label col-sm-6 bold">{{'authorized_by' | translate}}</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control-trimmed" ng-disabled="true" value="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4 bordered-div">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <span class="control-label col-sm-6 bold">{{'signature' | translate}}</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control-trimmed" ng-disabled="true" value="">
                </div>
            </div>
        </form>
    </div>
</div>