<div class="alert alert-warning align-center" ng-if="approvalAuthorityLevel <= 0">{{'lacking_approval_authority'| translate}}</div>
<span class="vertical-spacing">
    <span>        
        <button type="button" class="btn btn-success" ng-click="generatePaymentSlip()" ng-if="(servicesProvided | filter: {currentApprovalStatus: 'Approved'}).length > 0">{{'payment_slip'| translate}}</button>
    </span>
    <span class="pull-right">
        <button type="button" class="btn btn-warning" ng-click="approveAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'approve_all'| translate}}</button>
        <button type="button" class="btn btn-danger" ng-click="rejectAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'reject_all'| translate}}</button>
    </span>
</span>

<table class="listTable dhis2-table-striped-border vertical-spacing">               
    <thead>                        
        <tr>
            <th ng-if="gridColumn.show" ng-repeat="gridColumn in serviceGridColumns">
                {{gridColumn.name}}
            </th>
            <th>
                {{'latest_approval_status'| translate}}
            </th>
        </tr>                        
    </thead>
    <tbody>        
        <tr ng-repeat-end ng-repeat="serviceProvided in servicesProvided| orderBy:'program'">
            <td ng-if="gridColumn.show" ng-repeat="gridColumn in serviceGridColumns">                                                
                <span ng-if="gridColumn.id !== 'program' && gridColumn.id !== dataElementForServiceOwner.id && gridColumn.id !== dataElementForPaymentSanctioned.id && gridColumn.id !== dataElementForCurrentApprovalLevel.id">
                    {{serviceProvided[gridColumn.id]}}
                </span>
                <span ng-if="gridColumn.id === 'program'">
                    {{beneficiaryProgramsById[serviceProvided.program].name}}
                </span>
            </td>
            <td>
                <select ng-model="serviceProvided.latestApprovalStatus"
                        class="form-control-trimmed"
                        ng-options="option.name as option.name for option in optionSets[dataElementForCurrentApprovalStatus.optionSet.id].options" 
                        ng-change="saveServiceApproval(serviceProvided)"
                        ng-disabled="(approvalAuthorityLevel <= 0 || approvalAuthorityLevel < serviceProvided[dataElementForCurrentApprovalLevel.id])">
                    <option value="">{{'please_select'| translate}}</option>
                </select>
            </td>                                
        </tr>
    </tbody>
</table>