<div class="alert alert-warning align-center" ng-if="approvalAuthorityLevel <= 0">{{'lacking_approval_authority' | translate}}</div>
<div class="pull-right vertical-spacing">    
    <button type="button" class="btn btn-warning" ng-click="approveAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'approve_all'| translate}}</button>
    <button type="button" class="btn btn-danger" ng-click="rejectAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'reject_all'| translate}}</button>
</div>

<table class="listTable dhis2-table-striped-border vertical-spacing">               
    <thead>                        
        <tr>
            <th ng-if="gridColumn.show" ng-repeat="gridColumn in serviceGridColumns">
                {{gridColumn.name}}
            </th>
        </tr>                        
    </thead>
    <tbody>        
        <tr ng-repeat-end ng-repeat="serviceProvided in servicesProvided| orderBy:'program'">
            <td ng-if="gridColumn.show" ng-repeat="gridColumn in serviceGridColumns">                                                
                <span ng-if="gridColumn.id !== 'program' && gridColumn.id !== dataElementForCurrentApprovalStatus.id">
                    {{serviceProvided[gridColumn.id]}}
                </span>
                <span ng-if="gridColumn.id === 'program'">
                    {{beneficiaryProgramsById[serviceProvided.program].name}}
                </span>
                <span ng-if="gridColumn.id === dataElementForCurrentApprovalStatus.id">
                    <select ng-model="serviceProvided[gridColumn.id]"
                            class="form-control-trimmed"
                            ng-options="option.name as option.name for option in optionSets[dataElementForCurrentApprovalStatus.optionSet.id].options" 
                            ng-disabled="approvalAuthorityLevel <= 0">
                        <option value="">{{'please_select'| translate}}</option>
                    </select>
                </span>
            </td>                                
        </tr>
    </tbody>
</table>