<div class="pull-right vertical-spacing">                    
    <button type="button" class="btn btn-warning" ng-click="approveAll()">{{'approve_all'| translate}}</button>
    <button type="button" class="btn btn-danger" ng-click="rejectAll()">{{'reject_all'| translate}}</button>
</div>

<table class="listTable dhis2-table-striped-border vertical-spacing">               
    <thead>                        
        <tr>
            <th ng-show="gridColumn.show" ng-repeat="gridColumn in serviceGridColumns">
                {{gridColumn.name}}
            </th>
        </tr>                        
    </thead>
    <tbody id="list">
        <tr ng-repeat="serviceProvided in servicesProvided| orderBy:sortHeader:reverse | gridFilter:filterText:filterTypes"
            title="{{'go_to_dashboard'| translate}}">
            <td ng-show="gridColumn.show"                                            
                ng-repeat="gridColumn in serviceGridColumns">                                                
                {{serviceProvided[gridColumn.id]}}                                                
            </td>                                
        </tr>
    </tbody>        
</table>