<div class='vertical-spacing'>        
    <span class="heading-title">{{gridHeaderLabel}}</span>
    <button type="button"
            class="btn btn-default small-horizonal-spacing pull-right"
            ng-if="showAddGridRowDiv"
            ng-click="showAddGridRow()">
        {{'cancel'| translate}}
    </button>            
    <button type="button"
            class="btn btn-success small-horizonal-spacing pull-right"
            ng-if="showAddGridRowDiv"
            ng-click="addGridRow()">
        {{'save'| translate}}
    </button>
    <button type="button"
            class="btn btn-primary pull-right"
            ng-if="!showAddGridRowDiv"
            ng-click="showAddGridRow()">
        {{'add_new'| translate}}
    </button>
</div>

<!-- context menu for grid -->
<div id="contextMenu" class="contextMenu" style="width: 180px;">
    <ul id="contextMenuItems" class="contextMenuItems">
        <li><a href ng-click="showDashboard()"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;{{'go_to_dashboard'| translate}}</a></li>                                       
        <li><a href ng-click="editRow()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit'| translate}}</a></li>
        <li><a href ng-click="addDataToRow()"><i class="fa fa-book"></i>&nbsp;&nbsp;{{'add_data'| translate}}</a></li>
        <li><a href ng-click="removeRow()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{'remove'| translate}}</a></li>                                       
    </ul>
</div>
<!-- context menu ends -->                            
            
<div class="vertical-spacing" ng-if="gridRows.length > 0 || showAddGridRowDiv">
    <table class="table table-striped dhis2-table-hover table-bordered table-with-fixed-layout">
        <thead>                        
            <tr>
                <th ng-repeat="gridColumn in gridColumns" ng-if="gridColumn.show">

                    <!-- sort icon begins -->                                
                    <span ng-hide="gridColumn.showFilter" class="bold pointer" title="{{'sort'| translate}}" ng-click="sortGrid(gridColumn)">
                        <span ng-if="!showAddGridRowDiv" ng-class="{true: 'red'} [sortHeader == gridColumn.id]"><i class="fa fa-sort"></i></span>
                        {{gridColumn.name}}
                    </span>
                    <!-- sort icon ends -->

                    <!-- filter icon begins -->
                    <span ng-if="!showAddGridRowDiv" class='pull-right not-printable'>
                        <span ng-show="gridColumn.valueType != 'date' && gridColumn.valueType != 'number'">
                            <a href ng-click="searchInGrid(gridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [!filterText[gridColumn.id] || filterText[gridColumn.id] === '']"><i class="fa fa-search"></i></span></a>
                        </span>
                        <span ng-show="gridColumn.valueType === 'date' || gridColumn.valueType === 'number'">
                            <a href ng-click="searchInGrid(gridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [(!filterText[gridColumn.id].start || filterText[gridColumn.id].start == '') && (!filterText[gridColumn.id].end || filterText[gridColumn.id].end == '')]"><i class="fa fa-search"></i></span></a>
                        </span>                                                    
                    </span>
                    <!-- filter icon ends -->

                    <!-- filter input field begins -->
                    <span ng-show="gridColumn.showFilter">  
                        <span ng-switch="gridColumn.valueType">
                            <span ng-switch-when="number">
                                <input style="width: 70%;" placeholder="{{'lower_limit'| translate}}" type="number" ng-model="filterText[gridColumn.id].start" ng-blur="searchInGrid(gridColumn)">
                                <input style="width: 70%;" placeholder="{{'upper_limit'| translate}}" type="number" ng-model="filterText[gridColumn.id].end" ng-blur="searchInGrid(gridColumn)">
                            </span>
                            <span ng-switch-when="date">
                                <input style="width: 70%;" placeholder="{{'start_date'| translate}}" type="text" ng-model="filterText[gridColumn.id].start" d2-date readonly="readonly">
                                <span ng-hide="filterText[gridColumn.id].start == undefined || filterText[gridColumn.id].start == ''">
                                    <a href ng-click='removeStartFilterText(gridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                </span>
                                <input style="width: 70%;" placeholder="{{'end_date'| translate}}" type="text" ng-model="filterText[gridColumn.id].end" d2-date readonly="readonly">
                                <span ng-hide="filterText[gridColumn.id].end == undefined || filterText[gridColumn.id].end == ''">
                                    <a href ng-click='removeEndFilterText(gridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                </span> 
                            </span>
                            <span ng-switch-default>
                                <input type="text" style="width: 90%;" ng-model="filterText[gridColumn.id]" ng-blur="searchInGrid(gridColumn)">
                            </span> 
                        </span>                                                    
                    </span>
                    <!-- filter input field ends -->
                </th>                                    
            </tr>                        
        </thead>
        <tbody id="list">
            <tr ng-if="showAddGridRowDiv">
                <td ng-repeat="gridColumn in gridColumns" ng-if="gridColumn.show">
                    <ng-form name="innerForm">
                        <span ng-switch="gridColumn.valueType">
                            <span ng-switch-when="date">
                                <input type="text" 
                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}" 
                                       name="foo"
                                       d2-validation
                                       d2-duplicate
                                       class="form-control"
                                       element-id={{$index+1}}
                                       d2-focus-next-on-enter
                                       d2-date
                                       max-date="gridColumn.allowFutureDate ? '' : 0"
                                       ng-model="newGridRow[gridColumn.id]"                                               
                                       ng-required="gridColumn.mandatory" />                                    
                            </span>
                            <span ng-switch-when="trueOnly">
                                <input type="checkbox" 
                                       name="foo" 
                                       d2-validation
                                       d2-duplicate
                                       class="form-control"
                                       element-id={{$index+1}}
                                       element-code={{gridColumn.code}}
                                       d2-focus-next-on-enter
                                       ng-model="newGridRow[gridColumn.id]"  
                                       ng-required="gridColumn.mandatory" />                                    
                            </span>
                            <span ng-switch-when="bool">
                                <select name="foo" 
                                        d2-validation
                                        d2-duplicate
                                        ng-model="newGridRow[gridColumn.id]"                                                
                                        class="form-control"
                                        element-id={{$index+1}}
                                        element-code={{gridColumn.code}}
                                        d2-focus-next-on-enter
                                        ng-required="gridColumn.mandatory">
                                    <option value="">{{'please_select'| translate}}</option>                        
                                    <option value="false">{{'no'| translate}}</option>
                                    <option value="true">{{'yes'| translate}}</option>
                                </select>
                            </span>                                                                                                    
                            <span ng-switch-when="optionSet">
                                <span ng-if="optionSets[gridColumn.optionSet.id].options.length > 20">
                                    <input type="text"
                                           name="foo"
                                           d2-validation
                                           d2-duplicate
                                           class="form-control"
                                           element-id={{$index+1}}
                                           element-code={{gridColumn.code}}
                                           d2-focus-next-on-enter
                                           ng-model="newGridRow[gridColumn.id]"                                                   
                                           typeahead-editable="false"
                                           typeahead="option.name as option.name for option in optionSets[gridColumn.optionSet.id].options | filter:$viewValue | limitTo:50"
                                           typeahead-open-on-focus
                                           ng-required="gridColumn.mandatory"/>
                                </span>
                                <span ng-if="optionSets[gridColumn.optionSet.id].options.length <= 20">
                                    <select name="foo"
                                            d2-validation
                                            d2-duplicate
                                            class="form-control"
                                            element-id={{$index+1}}
                                            element-code={{gridColumn.code}}
                                            d2-focus-next-on-enter
                                            ng-model="newGridRow[gridColumn.id]"                                                    
                                            ng-options="option.name as option.name for option in optionSets[gridColumn.optionSet.id].options"
                                            ng-required="gridColumn.mandatory">
                                    <option value=""></option>
                                </select>
                                </span>                          
                            </span>
                            <span ng-switch-when="number">
                                <input type="number" 
                                       name="foo" 
                                       d2-validation
                                       d2-duplicate
                                       class="form-control" 
                                       element-id={{$index+1}}
                                       element-code={{gridColumn.code}}
                                       d2-focus-next-on-enter
                                       ng-model="newGridRow[gridColumn.id]"
                                       ng-required="gridColumn.mandatory"/>
                            </span>
                            <span ng-switch-when="email">
                                <input type="email" 
                                       name="foo" 
                                       d2-validation
                                       d2-duplicate
                                       class="form-control"
                                       element-id={{$index+1}}
                                       element-code={{gridColumn.code}}
                                       d2-focus-next-on-enter
                                       ng-model="newGridRow[gridColumn.id]"
                                       ng-required="gridColumn.mandatory"/>
                            </span>
                            <span ng-switch-default>
                                <input type="text" 
                                       name="foo" 
                                       d2-validation
                                       d2-duplicate
                                       class="form-control" 
                                       element-id={{$index+1}}
                                       element-code={{gridColumn.code}}
                                       d2-focus-next-on-enter
                                       ng-model="newGridRow[gridColumn.id]"                                               
                                       ng-blur="validationAndSkipLogic(newGridRow, gridColumn.id)"
                                       ng-required="gridColumn.mandatory"/>
                            </span>
                        </span>
                    </ng-form>
                <span ng-show="gridRowOuterForm.submitted && innerForm.foo.$invalid && gridColumn.mandatory" class="error">{{required}}</span>
                <span ng-if="innerForm.foo.$dirty && innerForm.foo.$invalid && newGridRow[gridColumn.id]" class="error">{{invalidInputLabel}}</span>                
                <span ng-if="innerForm.$error.d2Duplicate" class="error">{{duplicateLabel}}</span>                
                </td>
            </tr>
            <tr ng-repeat="gridRow in gridRows| orderBy:sortHeader:reverse | gridFilter:filterText:filterTypes" 
                ng-click="showRegistration(gridRow)"
                title="{{details}}">
                <td ng-if="gridColumn.show"
                    ng-repeat="gridColumn in gridColumns">
                    {{gridRow[gridColumn.id]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>    

<div class="alert alert-warning" ng-if="gridRows.length <= 0 && selectedProgram">{{emptyGridLabel}}</div>