<div class="alert alert-warning align-center" ng-if="approvalAuthorityLevel <= 0">{{'lacking_approval_authority' | translate}}</div>
<div class="pull-right vertical-spacing">    
    <button type="button" class="btn btn-warning" ng-click="approveAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'approve_all'| translate}}</button>
    <button type="button" class="btn btn-danger" ng-click="rejectAll()" ng-disabled="approvalAuthorityLevel <= 0" ng-if="approvalAuthorityLevel > 0">{{'reject_all'| translate}}</button>
</div>
<div ng-repeat="program in activityPrograms" ng-if="(activitiesConducted | filter: {program: program.id}).length > 0">
    <table class="listTable dhis2-table-striped-border vertical-spacing">
        <thead>
            <tr>
                <th class="active align-center" colspan="{{stagesById[program.programStages[0].id].programStageDataElements.length - 1}}">
                    <h3 class="align-center bold">{{program.name}}</h3>
                </th>
            </tr>            
            <tr>
                <th class="active">
                    {{'date'| translate}}
                </th>
                <th class="active" ng-repeat="prStDe in stagesById[program.programStages[0].id].programStageDataElements" 
                    ng-if="prStDe.dataElement.id !== dataElementForServiceOwner.id && prStDe.dataElement.id !== dataElementForPaymentSanctioned.id">
                    {{prStDe.dataElement.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="activity in activitiesConducted| filter: {program: program.id}">
                <td>
                    {{activity.eventDate}}
                </td>
                <td ng-repeat="prStDe in stagesById[program.programStages[0].id].programStageDataElements" 
                    ng-if="prStDe.dataElement.id !== dataElementForServiceOwner.id && prStDe.dataElement.id !== dataElementForPaymentSanctioned.id">                    
                    <span ng-if="prStDe.dataElement.id !== dataElementForCurrentApprovalStatus.id">
                        {{activity[prStDe.dataElement.id]}}
                    </span>
                    <span ng-if="prStDe.dataElement.id === dataElementForCurrentApprovalStatus.id">
                        <select ng-model="activity[prStDe.dataElement.id]"
                                class="form-control-trimmed"
                                ng-options="option.name as option.name for option in optionSets[dataElementForCurrentApprovalStatus.optionSet.id].options" 
                                ng-disabled="approvalAuthorityLevel <= 0 || activity[dataElementForCurrentApprovalStatus.id]">
                            <option value="">{{'please_select'| translate}}</option>
                        </select>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>